[submodule "extensions/leapide-flyout-vscode-extension"]
	path = extensions/leapide-flyout-vscode-extension
	url = https://github.com/dwave-examples/leapide-flyout-vscode-extension.git
[submodule "extensions-prebuilt"]
	path = extensions-prebuilt
	url = https://github.com/dwavesystems/leapide-prebuilt-vscode-extensions.git
