.menu-container {
  max-width: 1280px;
  margin: 5% auto;
  min-height: 80vh;
  font-family: "Proxima Nova Light", sans-serif;
}

.menu-head {
  padding-top: 52px;
  border-bottom: 2px solid #555;
  margin-left: 22px;
  padding-bottom: 13px;
}

svg.logo {
  width: 169px;
}

.vscode-dark .logo-dwave {
  fill: white;
}
.vscode-light .logo-dwave {
  fill: black;
}

.vscode-dark .logo-leap {
  fill: white;
}
.vscode-light .logo-leap {
  fill: #02b899;
}

.vscode-dark .blue-dot {
  fill: #2a7de1;
}
.vscode-light .blue-dot {
  fill: #02b899;
}

.vscode-dark .logo-leap-l {
  fill: #02b899;
}
.vscode-light .logo-leap-l {
  fill: white;
}

a {
  text-decoration: none;
}

.menu-item {
  position: relative;
  padding: 22px;
}
.menu-item:hover {
  background-color: #24455e;
  cursor: pointer;
}
.menu-item .img-wrap {
  display: inline-block;
  padding-left: 4px;
  width: 32px;
}
.menu-item .img-wrap img {
  display: block;
  width: 28px;
}
.menu-item .text-block {
  display: inline-block;
  padding-left: 16px;
  width: 250px;
}
.menu-item .text-block .title {
  position: relative;
  top: 2px;
  font-size: 16px;
  line-height: 17px;
  padding-top: 2px;
}
.menu-item .text-block .desc {
  color: #CCC;
  display: flex;
  position: relative;
  top: 6px;
  font-size: 14px;
  line-height: 18px;
}
.vscode-dark .menu-item .text-block .title,
.vscode-dark .menu-item .text-block .desc {
  color: #CCC;
}
.vscode-light .menu-item .text-block .title,
.vscode-light .menu-item .text-block .desc {
  color: #616161;
}